<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/cssbox.css">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>

</head>
<body>
{{ content }}
</body>
</html>
